body {
   margin: 50px auto 80px;
   text-align: center;
   padding: 20px;
   background-color: #fff4c5;
   width: 450px;
   max-width: 100%;
   box-sizing: border-box;
}

input,
button {
   border: 0;
   outline: 0;
   color: black;
   background-color: transparent;
}

button {
   cursor: pointer;
}

body, input, button {
   font-family: 'Neucha', sans-serif;

}

footer {
   position: fixed;
   padding: 20px;
   right: 0;
   bottom: 0;
   left: 0;
   font-size: 17px;
   background-color: #fff4c5;
   z-index: 1;
}

h1 {
   font-family: 'Permanent Marker', sans-serif;
   font-size: 45px;
   color: orange
}

.add-task-form {
   margin-bottom: 30px;
   position: relative;
}

.add-task-form button {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}

.add-task-form input {
   background-color: #fff;
   border-radius: 10px;
   padding: 15px 50px 15px 20px;
   width: 100%;
   box-sizing: border-box;
   font-size: 24px;
}

.add-task-form_msg {
   color: red;
   position: absolute;
   left: 0;
   bottom: -25px;
   transition: 0.2s linear;
   opacity: 0;
   visibility: hidden;
}

.add-task-form--error .add-task-form_msg {
   opacity: 1;
   visibility: visible;
}

.bringing-up {
   transition: 0.3s;
   transform: translateY(calc(-100% - 10px));
}

.bringing-down {
   transform: translateY(calc(-100% - 10px));
   animation: bringDown 0.3s both;
}

@keyframes bringDown {
to {
   transform: translateY(0);
}
}

.hiding {
   transition: 0.3s;
   transform: translateX(-20px);
   opacity: 0;
}

.showing {
   transform: translateX(-20px);
   opacity: 0;
   animation: show 0.3s both;
}

@keyframes show {
to {
   transform: translateX(0px);
   opacity: 1;
}
}

.tasks-list {
   padding: 0;
   list-style: none;
   display: inline-block;
   width: 100%;
   margin-bottom: 0;
}

.task {
   margin: 10px 0;
   text-align: left;
   position: relative;
   padding: 0 80px 0 40px;
}

.task--updating {
   padding: 0 40px 0 40px;
}

button,
.task_btn,
.task_checkbox {
   height: 30px;
   width: 30px;
   line-height: 30px;
   cursor: pointer;
   overflow: hidden;
   border: 2px solid transparent;
   font-size: 20px;
   padding: 0;
   text-align: center;
   box-sizing: content-box;
   border-radius: 4px;
   color: rgba(0,0,0,0.6);
   transition: 0.1s linear;
}

button svg,
.task_btn svg {
   color: rgba(0,0,0,0.3);
   vertical-align: middle;
   transition: 0.1s linear;
}

button:hover svg,
.task_btn:hover svg {
   color: rgba(0,0,0,0.5);
}

.task_btn,
.task_checkbox {
   position: absolute;
   top: 0
}

.task_btn--last {
   right: 0
}

.task_btn--second-last {
   right: 35px
}

.task button {
   color: rgba(0,0,0,0.3)
}

.task button:hover {
   color: #333
}

.task_checkbox {
   border-color: rgba(0,0,0,0.3);
   left: 0;
}

.task .task_checkbox svg {
   color: white;
}

.task_checkbox:hover {
   border-color: rgba(0,0,0,0.4);
}

.task input[type="checkbox"]:checked + .task_checkbox {
   border-color: #36ac49;
   background-color: #36ac49;
   color: white;
}

.task_name {
   font-size: 24px;
   height: 34px;
   line-height: 34px;
   display: block;
   width: 100%;
   box-sizing: border-box;
   border-bottom: 2px solid transparent;
   overflow: hidden;
   text-overflow: ellipsis;
}

.task_name:focus {
   border-color: black;
}

.task_name:disabled {
   border-color: transparent;
}

.task--completed .task_name {
   text-decoration: line-through;
   opacity: 0.2;
}

.clear-btn {
   height: 34px;
   margin: 10px 0;
   text-align: right;
}

.clear-btn button {
   border-color: rgba(0,0,0,0.2);
   width: auto;
   padding: 0 10px;
}

.clear-btn button:hover {
   background-color: rgba(0,0,0,0.05);
}



@media screen and (max-width: 640px) {

h1 {
   font-size: 35px;
}

.add-task-form input {
   font-size: 20px;
}

.task_name {
   font-size: 20px;
}

}